doctype html
html.js.flexbox.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
  head
    title= title || "Trip Key"
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta Tags
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Theme Styles
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(href='/stylesheets/css.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')
    // Current Page Styles
    link(rel='stylesheet', type='text/css', href='/stylesheets/flexslider.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/stylesheets/settings.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery.bxslider.css', media='screen')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css', media='screen')
    link#main-style(rel='stylesheet', href='/stylesheets/style-orange.css') 

    
    
  body
    block content
